:root {
    --white: #FFFDEE;
    --red: #E84043;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Roboto Mono', monospace;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

li{
    list-style: none;
}

.banner{
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 70vh;
    position: relative;
    background-color: var(--red);
}

@media screen and (min-width: 801px) {
    .banner{
        background-image: url("assets/banner.jpg");
    }
}
@media screen and (max-width: 800px) {
    .banner{
        background-image: url("assets/AtivoMOB.png");
    }
}

.gallery-1{
    display: grid;
	grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "area-1 area-2 "
    "area-1 area-3"
    "area-4 area-5"
    "area-6 area-5";
}

.gallery-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;}

.gallery-1__item-1{
 	grid-area: area-1;
}

.gallery-1__item-2{
 	grid-area: area-2;
}

.gallery-1__item-3{
 	grid-area: area-3;
}

.gallery-1__item-4{
 	grid-area: area-4;
}

.gallery-1__item-5{
 	grid-area: area-5;
}

.gallery-1__item-6{
 	grid-area: area-6;
}


.banner__title{
    background-image: url("assets/logo_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    text-indent: -9999px;
}

.banner__box{
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__button{
    margin-top: 16px;
    color: var(--white);
    border: 2px solid var(--white);
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-decoration: none;
    padding: 16px 24px;
    transition: 0.1s background-color linear, 0.1s color linear;
    text-align: center;

}

.banner__button:hover{
    background-color:  var(--white);
    color: #000;
    transition: 0.1s background-color linear, 0.1s color linear;
}

.pizzas{
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
}
@media screen and (min-width: 1024px) {
    .pizzas{
        padding: 48px;
    }
}


@media screen and (min-width: 801px) {
    .pizzas{
        background-image: url("assets/pizza.jpg");
    }
}
@media screen and (max-width: 800px) {
    .pizzas{
        background-image: url("assets/pizzaMob.jpg");
    }
}


.pizzas_box{
    background-color:  var(--white);
    width: 90%;
    padding: 48px 24px;
}

@media screen and (min-width: 1024px) {
    .pizzas_box{
        width: 50%;
        padding: 48px 56px;
    }
}

ul{
    margin-top: 16px;
}

@media screen and (max-width: 1023px) {
    article + article{
        margin-top: 24px;
    }
}


article li + article li{
    margin-top: 16px;

}

.entradas, .sobremesas{
    padding: 48px 24px;
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .entradas, .sobremesas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 48px;
        padding: 48px;
    }  
}


.profile{
    background-color:  var(--white);
}

.intro{
    background-color:  var(--white);
    padding: 48px 24px;
}

.intro__box{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.intro__list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 0 48px;

}

.intro__list li + li {
    margin-left: 32px;
}

@media screen and (max-width: 1023px) {
    .intro__list{
        flex-direction: column;
        text-align: center;
    }
    
    .intro__list li + li {
        margin-left: 0;
    }

}

.profile__box,.about__box{
    width: 90%;
    margin: 0 auto;
    padding: 48px 24px;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .profile,.about{
        padding: 48px 56px;
    }
    .profile__box,.about__box, .intro__box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }  

    .about__box{
        text-align: right;
    }
}

.profile__box img,.about__box img, .intro__box img{
    width: 100%;
}


.profile__title{
    left: 40%;
}

.about__title{
    right: 40%;
}
@media screen and (min-width: 1024px) {
    .about__title, .profile__title{
        font-size: 3em;}
}

@media screen and (min-width: 1024px) {
    .profile__title, .about__title{
        top: 48px;
        position: absolute;
    }
}

@media screen and (min-width: 1024px) {
    .profile__text{
        margin-top: 150px;
        margin-left: 48px;
    }
    
    .about__text{
        margin-top: 100px;
        margin-right: 48px;
    }

    .intro__text{
        margin-left: 48px;}
}

.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
    .images{
        grid-template-columns: repeat(4, 1fr);
    }
}
.images img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttons a+a{
    margin-left: 8px;
}

.buttons.red a{
    color: var(--red);
    border: 2px solid var(--red);
    background-color: transparent;

}

.buttons.red a:hover{
    background-color:  var(--red);
    color: var(--white);
}

footer{
    background-color:  var(--red);
    color: var(--white);
    padding: 32px 48px;
    text-align: center;
}

footer a{
    font-size: 2em;
    color: var(--white);
}

.links{
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links__box{
    display: flex;
    flex-direction: column;
}

.links__button{
    color: var(--red);
    border: 2px solid var(--red);
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-decoration: none;
    padding: 16px 24px;
    transition: 0.1s background-color linear, 0.1s color linear;
    text-align: center;
}

.links__button + .links__button{
    margin-top: 16px;
}

.links__title{
    background-image: url("assets/logo_ver.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    display: block;
    text-indent: -9999px;
    margin-bottom: 24px;
}
